---
import Layout from "@/layouts/Layout.astro";
import SelectedImage from "@/components/details/SelectedImage";
import {
  AuthorName,
  PhotoProfile,
  PublishedDate,
} from "@/components/details/Author";
import AddToCollection from "@/components/details/AddToCollection";
import Download from "@/components/details/Download";
import Remove from "@/components/icons/RemoveCollection";

const { id } = Astro.params;
---

<Layout
  title="Unsplash Collections - Images preview and download"
  description="Unsplash Collections"
>
  <section
    class="grid grid-cols-1 lg:grid-cols-2 grid-row-1 mx-auto max-w-[1280px] px-7 py-20 md:p-32 gap-10"
  >
    <figure
      transition:name="gallery-photo"
      class="w-full sm:w-[555px] h-[830px] bg-cleargray dark:bg-zinc-800 transition-color rounded-lg place-self-center"
    >
      <SelectedImage id={id} client:load transition:persist />
    </figure>

    <article class="sm:pl-10 place-self-start flex flex-col gap-5">
      <picture class="flex flex-row gap-4 items-center mb-5">
        <PhotoProfile id={id} client:visible />
        <AuthorName id={id} client:visible />
      </picture>
      <PublishedDate id={id} client:visible />
      <div class="flex flex-row gap-4">
        <div
          class="rounded-md group flex flex-row gap-2 bg-cleargray text-black px-4 py-2"
        >
          <AddToCollection client:visible />
        </div>
        <Download id={id} client:visible />
      </div>
      <section id="Collections">
        <h3 class="text-xl">Collections</h3>
        <div class="w-full sm:w-[555px] flex flex-col gap-4">
          <div
            class="group rounded-xl p-2 flex flex-row justify-between hover:bg-cleargray dark:hover:bg-zinc-800 transition-colors duration-300"
          >
            <aside class="flex flex-row gap-4">
              <picture class="h-16 w-16 rounded-lg bg-slate-100">
                <img src="" alt="" />
              </picture>
              <div>
                <p class="font-bold text-black dark:text-white">
                  Collection Name
                </p>
                <small>29 Photos</small>
              </div>
            </aside>
            <Remove client:visible />
          </div>
        </div>
      </section>
    </article>
  </section>
</Layout>
