---
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import CollectionList from "@/components/details/CollectionList.jsx";
import SelectedImage from "@/components/details/SelectedImage.jsx";
import {
  AuthorName,
  PhotoProfile,
  PublishedDate,
} from "@/components/details/Author.jsx";
import AddToCollection from "@/components/details/AddToCollection.jsx";
import Download from "@/components/details/Download.jsx";
import Remove from "@/components/details/RemoveCollection.jsx";

const { id } = Astro.params;
---

<Layout
  title="Unsplash Collections - Images preview and download"
  description="Unsplash Collections"
>
  <script is:inline>
    const id = Astro.params;
    console.log(id);
    const $modal = document.querySelector("#imageModal");
    const $closeModal = document.querySelector("#closeModal");
    const $picture = document.querySelector(`#image-${id}`);
    $closeModal.addEventListener("click", () => {
      $modal.classList.add("hidden");
    });
    $picture.addEventListener("click", () => {
      $modal.classList.toggle("hidden");
    });
  </script>
  <section
    class="grid grid-cols-1 lg:grid-cols-2 grid-row-1 mx-auto max-w-[1280px] h-dvh px-7 pt-10 place-content-center"
  >
    <div
      transition:name={`image-${id}`}
      id="imageModal"
      class="hidden absolute mx-auto my-1/2 left-0 right-0 z-50 backdrop:blur-xl backdrop-brightness-50"
    >
      <div class="relative w-full h-full sm:w-3/4 sm:h-3/4">
        <SelectedImage
          className="hover:scale-100"
          id={id}
          url={undefined}
          alt_description={undefined}
          client:load
        />
        <button
          id="closeModal"
          class="absolute uppercase right-0 top-0 px-3 py-1 m-5 text-4xl font-black bg-black/20 rounded-xl"
          >x</button
        >
      </div>
    </div>
    <picture
      id=`image-${id}`
      transition:name=`image-${id}`
      class="w-full sm:w-[555px] h-[830px] bg-cleargray dark:bg-zinc-800 transition-color rounded-lg place-self-center"
    >
      <SelectedImage
        className="hover:scale-105"
        id={id}
        url={undefined}
        alt_description={undefined}
        client:load
      />
    </picture>

    <article class="sm:pl-10 place-self-start flex flex-col gap-5">
      <picture class="flex flex-row gap-4 items-center">
        <PhotoProfile client:visible />
        <AuthorName client:visible />
      </picture>
      <PublishedDate client:visible />
      <div class="flex flex-row gap-4 flex-wrap">
        <AddToCollection client:visible />
        <Download client:visible />
      </div>
      <section id="Collections">
        <h3 class="text-2xl font-semibold text-black dark:text-white my-3">
          Collections
        </h3>
        <section>
          <CollectionList client:visible />
        </section>
      </section>
    </article>
  </section>
</Layout>
