---
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import SelectedImage from "@/components/details/SelectedImage.jsx";
import {
  AuthorName,
  PhotoProfile,
  PublishedDate,
} from "@/components/details/Author.jsx";
import AddToCollection from "@/components/details/AddToCollection.jsx";
import Download from "@/components/details/Download.jsx";
import Remove from "@/components/details/RemoveCollection.jsx";

const { id } = Astro.params;
---

<Layout
  title="Unsplash Collections - Images preview and download"
  description="Unsplash Collections"
>
  <script is:inline>
    const id = Astro.params;
    console.log(id);
    const $modal = document.querySelector("#imageModal");
    const $closeModal = document.querySelector("#closeModal");
    const $picture = document.querySelector(`#image-${id}`);
    $closeModal.addEventListener("click", () => {
      $modal.classList.add("hidden");
    });
    $picture.addEventListener("click", () => {
      $modal.classList.toggle("hidden");
    });
  </script>
  <section
    class="grid grid-cols-1 lg:grid-cols-2 grid-row-1 mx-auto max-w-[1280px] px-7 pt-10 gap-10"
  >

    <picture
      id=`image-${id}`
      transition:name=`image-${id}`
      class="w-full sm:w-[555px] h-[830px] bg-cleargray dark:bg-zinc-800 transition-color rounded-lg place-self-center"
    >
      <SelectedImage
        id={id}
        url={undefined}
        alt_description={undefined}
        client:load
      />
    </picture>

    <article class="sm:pl-10 place-self-start flex flex-col gap-5">
      <picture class="flex flex-row gap-4 items-center">
        <PhotoProfile client:visible />
        <AuthorName client:visible />
      </picture>
      <PublishedDate client:visible />
      <div class="flex flex-row gap-4 flex-wrap">
        <AddToCollection client:visible />
        <Download client:visible />
      </div>
      <section id="Collections">
        <h3 class="text-2xl font-semibold text-black dark:text-white my-3">
          Collections
        </h3>
        <div class="w-full sm:w-[555px] flex flex-col gap-4">
          <div
            class="group rounded-xl p-2 flex flex-row justify-between hover:bg-cleargray dark:hover:bg-zinc-800 transition-colors duration-300"
          >
            <aside class="flex flex-row gap-4">
              <picture class="h-16 w-16 rounded-lg bg-slate-100">
                <img src="" alt="" />
              </picture>
              <div>
                <p class="font-bold text-black dark:text-white">
                  Collection Name
                </p>
                <small>29 Photos</small>
              </div>
            </aside>
            <Remove client:visible />
          </div>
        </div>
      </section>
    </article>
  </section>
</Layout>
